<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lad.mybatissource.UserMapper">
    <select id="queryUserBySchoolName" resultType="com.lad.mybatissource.User">
        select * from user
        <where>
            <if test="schoolName != null and schoolName != ''">
                 school_name = #{schoolName}
            </if>
        </where>
    </select>
</mapper>
